
{{uxs-heading "Date Range Component" class="mt"}}

{{uxs-content "The range component allows the user to specify any date range. From a single day, or a month or a custom range between two dates."}}

{{uxs-date-range
  value=(readonly value)
  onChange=(action "setRange")
}}

<div>
  Value: {{value}}
</div>
